* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #ffffff;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
}

body {
  min-height: 100vh;
  font-family: "Source Code Pro", monospace;
  background: linear-gradient(
    90deg,
    rgba(46, 125, 50, 1) 42%,
    rgba(200, 230, 201, 1) 100%
  );
}

body * {
  color: var(--text-color);
}

#container,
#container_links,
footer {
  width: 100%;
  padding: 0 16px;
  margin: 20px auto 0;
}

#imagem {
  text-align: center;
}

#imagem img {
  width: 80px;
  border-radius: 50%;
  border: 3px solid #2e7d32;
}

.texto {
  margin: 12px 0;
  font-size: 14px;
  line-height: 1.6;
  text-align: left; 
  font-weight: 500;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 14px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  text-decoration: none;
  font-size: 14px;
}

/* Active para mobile */
ul li a:active {
  background: var(--surface-color-hover);
}

footer {
  width: 100%;
  padding: 0 16px;
  margin: 20px auto 0;
  font-size: 12px;
}

footer p {
  text-align: justify;
}

#assinatura {
  text-align: center;
  padding-top: 10px;
}

/* Responsividade */
@media (min-width: 600px) {
  #container {
    max-width: 600px;
  }

  #container_links {
    max-width: 500px;
  }

  #imagem img {
    width: 100px;
  }

  .texto {
    font-size: 15px;
    text-align: justify;
  }

  footer {
    max-width: 600px;
  }
}

@media (min-width: 900px) {
  #container {
    max-width: 700px;
  }

  #container_links {
    max-width: 480px;
  }

  .texto {
    font-size: 16px;
  }

  ul li a {
    font-size: 16px;
  }

  ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
  }

    footer {
    max-width: 700px;
  }
}
