* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

body {
  background: #2E7D32;
  background: linear-gradient(90deg, rgba(46, 125, 50, 1) 42%, rgba(200, 230, 201, 1) 100%);
  height: 100%;
  font-family:"Source Code Pro", monospace; ;
}

body * {
  color: var(--text-color);
}

#container {
  max-width: 700px;
  margin: 20px auto 0px;
}

#container_links{
  max-width: 480px;
  margin: 20px auto 0px;
}

/* profile */
#imagem {
  text-align: center; 
}

#imagem img {
  width: 112px;
  border-radius: 50%;
  border: 3px solid #2e7d32;
}

.texto {
  font-weight: 500;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}


/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 20px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;

  transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

footer {
  width: 100%;
  max-width: 700px;
  margin: 20px auto 0px;
  font-size: 12px;
}
footer p{
  text-align: justify;
}

#assinatura{
  text-align: center;
  padding-top: 10px;
}

/* Responsividade */
@media (min-width: 480px){
#container,
#container_links,
footer {
  width: 90%;
  margin: 16px auto;
}

.texto {
  text-align: left;
  font-size: 14px;
  line-height: 22px;
}

#imagem img {
  width: 96px;
}

ul li a {
  padding: 12px;
  font-size: 14px;
}
} 

@media (min-width: 600px) {
  #container {
    max-width: 600px;
  }

  #container_links {
    max-width: 500px;
  }

  .texto {
    font-size: 15px;
    text-align: justify;
  }

  #imagem img {
    width: 110px;
  }
}

@media (min-width: 900px) {
  #container {
    max-width: 700px;
  }

  #container_links {
    max-width: 480px;
  }

  .texto {
    font-size: 16px;
  }

  ul li a {
    font-size: 16px;
  }
}


